* {
	box-sizing: border-box;
}
.testboxes {				/* Encompasses the Test Checkboxes */
	font-size: 1em;
	margin-bottom: 1em;
}
.testnames {				/* Test 1, Test 2, Final Names*/
	display: inline-block;
	padding-left: 5px;
	padding-right: 20px;
}
.rows {						/* Line bottoms of columns up */
	display: flex;
}
.colspace {					/* Blank column space (input &nbsp in divs with this class) */
	width: 16.66%;
	float: left;
}
.maincolumn {				/* Main information boxes (Chords and Scales) */
	width: 33.33%;
	float: left;
	padding: 5px;
	text-align: left;
	border: 1px solid #008B8B;
}
.typehead {					/* Type header (type title and select/deselect buttons) */
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 2px solid #008B8B;
	position:relative;
	margin-bottom: .5em;
}	
.selectdeselectbtns {		/* Select/Deselect Buttons */
	top: 5px;
	position:absolute;
	top: 0%;
	right: 0%;
	font-size: .7em;
}
.type2list {				/* All categories and their elements */
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}
.category {					/* Each category and its elements */
    padding-bottom: 1em;
	/* Prevent elements within same category from breaking columns */
	-webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}
.categorytitle {			/* Title of category */
	font-size: 1.1em;
	font-style: italic;
}
.type2 {					/* Every element */
	font-weight: 100;
}

/* Resizing and Scalability */
@media screen and (max-width: 1420px) {		/* Increase column width and decrease space at edges */
	.colspace {
		width: 8.33%;
	}
	.maincolumn {
		width: 41.66%;
	}
}
@media screen and (max-width: 1135px) {		/* Further increase column width and decrease space at edges */
	.colspace {
		width: 1%;
	}
	.maincolumn {
		width: 49%;
	}
}
@media screen and (max-width: 954px) {		/* Collapse each type to one column */
	.colspace {
		width: 16.66%;
	}
	.maincolumn {
		width: 33.33%;
	}
	.type2list {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}
@media screen and (max-width: 710px) {		/* Increase column width and decrease space at edges */
	.colspace {
		width: 8.33%;
	}
	.maincolumn {
		width: 41.66%;
	}
}
@media screen and (max-width: 565px) {		/* Further increase column width and decrease space at edges */
	.colspace {
		width: 1%;
	}
	.maincolumn {
		width: 49%;
	}
}
@media screen and (max-width: 480px) {		/* Put Scales box below Chords box */
	.colspace {
		width: 5%;
		height: 200%;
	}
	.maincolumn {
		width: 90%;
		clear: left;
		margin-left: 5%;
	}
	.rows {
		display: block;
	}
}