html {
	height: 100%;
	position: relative;
	background-color: #ADD8E6;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #ADD8E6;
	font-size: 1em;
	line-height: inherit;

	/*Clear margins to prevent weird things from happening*/
	margin-top: 0px;
  	margin-right: 0px;
  	margin-bottom: 0px;
  	margin-left: 0px;
}

* {
	box-sizing:border-box;
}

/* Contains all header contents */
#header {
	background-color: #ADD8E6;
	font-family: Verdana, Geneva, sans-serif;
	position: fixed;
	width: 100%;
	z-index: 1;
}
/* Contains the logo and the title */
#logotitle {
	margin: auto;			/* Center */
	width: 240px;			/* Need this to make 'margin: auto' work */
	white-space: nowrap;	/* Don't wrap text */
}
/* The logo */
#headlogo {
	margin-top: 2px;
	height: 2.9em;
}
/* The title */
#headtitle {
	font-size: 2em;
	padding: .25em;
	text-align: left;
}

/* Mobile compatibility (match with navbar's max-width) */
@media only screen and (max-width: 565px) {
	/* Allows text to not be blocked by header's background */
	#header {
		background-color: transparent;
	}
	/* Hide the title */
	#headtitle {
		display: none;
	}
	/* Move the logo to the top right */
	#headlogo {
		position: fixed;
		right: 0px;
		margin-top: 0;
		top: 1%;
	}
}

#instructions {
	margin: 1em;
	text-align: center;
}

/* Fixed size button for important functions */
.button {
	text-align: center;
	white-space: nowrap;
	background: #008B8B;
	-webkit-tap-highlight-color: #00CED1;
	font-family: Verdana, Geneva, sans-serif;
	font-size: .9em;
	border: 1px solid #008080;
	margin-top: 1em;
	margin-bottom: 1em;
	margin: 0 auto;
	margin-bottom: 1em;

	max-width: 125px;
	width:90%;
	height:2em;
}
/* Hovering over the button when it isn't inactive */
.button:hover:not(.inactive) {
	cursor: pointer; cursor: hand;
	background: #00CED1;
	border: 1px solid #00CED1;
}
/* Do nothing when inactive */
.inactive {
	color: black;
}
/* Prevent Mozilla border when clicking */
.button:-moz-focus-inner {
	border: 0;
}
/* Prevent outlines when clicking */
.button:focus {
	outline: none;
}

/* Button where background wraps around text for less important buttons */
.smallbtn {
	text-align: center;
	white-space: nowrap;
	background: #008B8B;
	border: none;
	margin-bottom: 5px;
}
.smallbtn:hover {
  background: #00CED1;
}

#bottompagebutton {
	position: fixed;
}

#content {
	text-align: center;
	float: none;
}

/*a box to place an alert message*/
#alert {
	margin: 0;
	padding: .5em;
	background-color: #ffb3b3;
	border-style: solid;
	border-width: thin;
	border-color: #FF0000;
	display: none;
}

.footertext {
	margin: 0;
	color: #000000;
}

.help {
	float:right;
}

.help:hover {
	color: #00CED1;

}

#footer {
	font-size:0.5em;
	position: fixed;
	bottom: 0;
	width: 100%;
  	left: 0;
  	right: 0;
  	text-align: center;
	padding: 1em;
	background-color: #008B8B;
	border-top: 1px solid #008080;
}
