html {
	height: 100%;
	position: relative;
	background-color: #ADD8E6;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #ADD8E6;
	font-size: 1em;
	line-height: inherit;

	/*Clear margins to prevent weird things from happening*/
	margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#instructions {
	margin: 1em;
	text-align: center;
}

center {
	background-color:#ADD8E6;
}

* {
	box-sizing:border-box;
}

.panel-collapse {
	padding-left:20px;
	text-align:left;
}


#checkboxcontainer {
	padding-left:10%;
}

@media screen and (min-width: 500px) {
	#checkboxcontainer {
		padding-left:45%;
	}
}

#type1 {
	background-color : transparent;
	float: left;
}

#type2 {
    background-color : transparent;
    display : inline;
    float: left;
}



.button {
	text-align: center;
	white-space: nowrap;
	background: #008B8B;
	-webkit-tap-highlight-color: #00CED1;
	font-family: Verdana, Geneva, sans-serif;
	font-size: .9em;
	border: 1px solid #008080;
	margin-top: 1em;
	margin-bottom: 1em;
	margin: 0 auto;
	margin-bottom: 1em;

	max-width: 125px;
	width:90%;
	height:2em;
}

.button:hover:not(.inactive) {
	cursor: pointer; cursor: hand;
  background: #00CED1;
	border: 1px solid #00CED1;
}

.inactive {
	color: black;
}

#bottompagebutton {
	position: fixed;
}

#header {
	background-color: #ADD8E6;
	font-family: Verdana, Geneva, sans-serif;
	position: fixed;
}

#content {
	text-align: center;
	float: none;
}

/*a box to place an alert message*/
#alert {
	margin: 0;
	padding: .5em;
	background-color: #ffb3b3;
	border-style: solid;
	border-width: thin;
	border-color: #FF0000;
	display: none;
}

.footertext {
	margin: 0;
	color: #000000;
}

.help {
	float:right;
}

.help:hover {
	color: #00CED1;

}

#footer {
	font-size:0.5em;
	position: fixed;
	bottom: 0;
	width: 100%;
  left: 0;
  right: 0;
  text-align: center;
	padding: 1em;
	background-color: #008B8B;
	border-top: 1px solid #008080;
}
