html {
	height: 100%;
	position: relative;
	background-color: #ADD8E6;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #ADD8E6;
	font-size: 1em;
	line-height: inherit;

	/*Clear margins to prevent weird things from happening*/
	margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.qa {
	font-weight: bold;
}

#instructions {
	margin: 1em;
	text-align: center;
}

#answers {
	font-size: 1em;
	text-align: center;
	/*margin: 0, auto;*/
}

#answers li {
	text-align: center;
	display: inline-block;
	min-width: 66px;
	/*padding-left: 1.5em;
	padding-right: 1.5em;*/
	/*margin: 1em, 1em, 1em, 1em;*/
  /*position:inherit;*/
}

#answers > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	/*position:sticky;*/
}

#answers > ul > li {
	/*background: #008B8B;*/
	/*border: 1px solid #008080;*/
	float:none;
	/*padding: 1em 0em;*/
}

center {
	background-color:#ADD8E6;
}

* {
	box-sizing:border-box;
}

.panel-collapse {
	padding-left:20px;
	text-align:left;
}

#asdf {
	text-align: center;
  white-space: nowrap;
}

#nextquestion {
	text-align: center;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

#checkanswers {
	text-align: center;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;

}

#checkboxcontainer {
	padding-left:10%;
}

@media screen and (min-width: 500px) {
	#checkboxcontainer {
		padding-left:45%;
	}
}

a {
	color:black;
	text-decoration:none;
	font-weight:bold;
}

#type1 {
	background-color : transparent;
	float: left;
}

#type2 {
    background-color : transparent;
    display : inline;
    float: left;
}

#smi {
	text-align: center;
	padding: 1em;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	height: 260px;
	/*display: block;*/
}

.button {
	text-align: center;
	white-space: nowrap;
	background: #008B8B;
	-webkit-tap-highlight-color: #00CED1;
	font-family: Verdana, Geneva, sans-serif;
	font-size: .9em;
	/*border-style: solid;
	border-width: thin;*/
	border: 1px solid #008080;
	margin-top: 1em;
	margin-bottom: 1em;
	margin: 0 auto;
	margin-bottom: 1em;

	max-width: 125px;
	width:90%;
	height:2em;
}

.button:hover {
	cursor: pointer; cursor: hand;
  background: #00CED1;
	border: 1px solid #00CED1;

}

#bottompagebutton {
	position: fixed;
}

/*#button {*/
	/*font-size:0.5em;*/
	/*background-color: #ADD8E6;*/
	/*bottom: 10%;
  left: 0;*/
  /*position: fixed;*/
  /*right: 0;
  text-align: center;
}*/



#wrapper {

}

#header {
	background-color: #ADD8E6;
	font-family: Verdana, Geneva, sans-serif;
	position: fixed;
}

#content {
	text-align: center;
	float: none;
	/*position: sticky;;*/
}

#alert {
	margin: 0;
	padding: .5em;
	background-color: #ffb3b3;
	border-style: solid;
	border-width: thin;
	border-color: #FF0000;
	display: none;
}

.footertext {
	margin: 0;
	color: #000000;
}

.help {
	float:right;
}

.help:hover {
	color: #00CED1;

}

#footer {
	font-size:0.5em;
	position: fixed;
	bottom: 0;
	width: 100%;
  left: 0;
  right: 0;
  text-align: center;
	padding: 1em;
	background-color: #008B8B;
	border-top: 1px solid #008080;
}
